/* Color Pallette for the app */

$body-color: #333333;
$orange-color: #F2994A;
$secondary-color: #F2F2F2;
$footer-color: rgb(35, 36, 36);
$icon-color: #828282;
$footer-util-color: #BDBDBD;



/* Buttons */
$btn-white: #FFFFFF;
